.box1{
    width: 50vw;
    height: 50vh;
    background-color: red;
    position: absolute;
    top:0;
    left:0;
}
.box2{
    width: 50vw;
    height: 50vh;
    background-color: green;
    position: absolute;
    top:0;
    right: 0;
}
.box3{
    width: 50vw;
    height: 50vh;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 0;
}
.box4{
    width: 50vw;
    height: 50vh;
    background-color: purple;
    position: absolute;
    bottom: 0;
    right: 0;

}

.circle{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square{
    width: 50px;
    height: 50px;
    background-color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle-circle{
    width: 100px;
    height: 100px;
    background-color: white;
    /* border-radius: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.corner-circle{
    width: 150px;
    height: 150px;
    background-color: white;
    /* border-radius: 100%; */
    position: absolute;
}

#corner-circle-1{
    top: 0;
    left: 0;
    border-radius: 0 0 100% 0;
}
#corner-circle-2{
    top: 0;
    right: 0;
    border-radius: 0 0 0 100%;
}
#corner-circle-3{
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 0;
}
#corner-circle-4{
    bottom: 0;
    right: 0;
    border-radius: 100% 0 0 0;
}

.two-circles{
    position: absolute;
    background-color: white;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#one{
    top: -20px;
    left: 45%;

}
#two{
    bottom: -20px;
    left: 45%;
}