.navbar{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(206, 62, 6);
}
img{
    height: 50px;
    width: 100px;
    padding-left: 5px;
}

.nav-links{
    right: 20px;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    height: fit-content;
}

.container{
    padding-top:55px ;
}